<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Admin/Admin.css">
    <link rel="stylesheet" href="/PopUp/PopUp.css">
    <title>Dashboard</title>
</head>
<body onload="RefreshData()">
    <!--Nav-->
    <nav class="navbar">
        <button id="MainPanelButton" class="ScaleUp">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256">
                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M0,7.5v5h50v-5zM0,22.5v5h50v-5zM0,37.5v5h50v-5z"></path></g></g>
                </svg>
        </button>
        <h1 class="Brand">Dashboard</h1>
        <form>
            <input type="search" id="search" name="search" placeholder="Search Product...">
            <input type="submit" value="Search">
        </form>
    </nav>

    <section id="MainSection">
        <!--Panel-->
        <div id="MainPanel">
            <button class="PanelMenu active">Products</button>
            <button class="PanelMenu" disabled>Order</button>
            <button class="PanelMenu" disabled>Chat</button>
            <hr><hr>
            <a href="/"><button id="LogOutButton">LogOut</button></a>
        </div>
        <!--Body-->
        <div id="MainBody">
            <div class="Action">
                <button onclick="RefreshData()">Refresh</button>
                <button onclick="AddProduct_PopUp()">Add</button>
            </div>
            <hr>
            <div id="ProductList">
            </div>
        </div>
    </section>


    <div id="PopUp" class="d-none"><div id="ClosePopUpElement" onclick="ClosePopUp()"></div></div>
    <footer>
        <h5>SomethingShop</h5>
        <p>© 2023 Rama Naufal Alim</p>
    </footer>

    <!--Script-->
    <script src="/PopUp/PopUp.js"></script>
    <script src="/Admin/Admin.js"></script>
</body>
</html>